#center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#div-img-resetsenha {
    margin-right: 129px;
}

#form-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 700px;
    width: 442px;
}

/* confugurando os tamanhos dos botões::after */
#span1-resetsenha {
    font-size: 40px;
    font-family: "Inika";
}
#span2-resetsenha {
    font-size: 35px;
    font-family: "Inria Serif";
}
#p-resetsenha {
    font-size: 30px;
    font-family: "Inika";
}
#email {
    width: 442px;
    height: 49px;
    border-radius: 5px;
}
#btn-recuperarsenha {
    margin-top: 35px;
    width: 442px;
    height: 67px;
    background-color: #AEC5B0;
    border-radius: 15px;
}
a {
    color: #0F462F;
    font-size: 25px;
    font-family: "Inika";
    text-decoration: none;
}