/* Organização das divs na página  */
#center-div-index {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    background-color: pink;
}
.div-esquerda {
    margin-right: 129px;
    background-color: rgba(165, 42, 42, 0.411);
}
.div-direita {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 700px;
    width: 442px; */
    background-color: rgba(0, 0, 255, 0.491);
}

/* Jogando o botão para o outro lado */
.btn-portal {
    display: flex;
    align-items: end;
    flex-direction:row;
    background-color: rgb(0, 255, 38);
}



/* Confugurando os tamanhos dos botões */
#spans {
    margin-bottom: 25px;
}
#spans-span1 {
    font-size: 40px;
    font-family: "Inika";
}
#spans-span2 {
    font-size: 35px;
    font-family: "Inria Serif";
}
.div-campos {
    display: flex;
    flex-direction: column;
}
#email {
    margin-bottom: 25px;
}
input {
    width: 442px;
    height: 49px;
    border-radius: 5px;
}
.link-resetsenha {
    color: #BC7726;
    font-size: 18px;
    font-family: "Inika";
}

/* botão login para baixo */
#novaconta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#btn-login {
    margin-top: 35px;
    width: 442px;
    height: 67px;
    background-color: #AEC5B0;
    border-radius: 15px;
}
#letter-btn-login {
    color: #0F462F;
    font-size: 25px;
    font-family: "Inika";
    text-decoration: none;
}
.link-criarconta {
    text-decoration: none;
    color: #BC7726;
    font-size: 14px;
    font-family: "Inika";
}
/* verificar aqui: */
#btn-google {
    width: 330px;
    height: 55px;
    border-radius: 20px;
}
#btn-portal {
    border-radius: 10px;
    width: 195px;
    height: 48px;
}