.container {
    display: flex;
    flex-wrap: wrap;
}

.produto {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.produto img {
    width: 100%;
    height: auto;
}

.produto h2 {
    margin-top: 10px;
    font-size: 1.2em;
}

.produto p {
    font-weight: bold;
}
