body {
    margin-left: 5%;
    margin-right: 5%;
    font-family: "inter";
}

.nav-bar {
    display: flex;
    font-size: 1.2vw;
    /* Div principal que cobre toda a barra*/
    width: 100%;
    height: 5vw;
    border-bottom: 2px solid #aaaaaa;
}

.nav-bar-mid {
    margin: 1.5% 0px 0px 14%;
    justify-content: center;
    justify-items: center;
    /*Div referente ao Miolo da barra que cobre os <a>*/
    height: 2vw;
    width: 63.6vw;
}

.a-nav-bar-titulo {
    margin: 0px 4.5% 0px 0px;
    border: 1px solid #000;
    padding: 5px 10px;
    text-decoration: none;
    /*<a> "Moda-conecta" com retangulo em volta*/
    font-weight: bold;
    cursor: pointer;
    font-size: 1vw;
}

.a-nav-bar {
    margin: 0px 3.5% 0px 0px;
    text-decoration: none;
    /*<a> todos os outros redirecionamentos "Novidade" "Outlet" ...*/
    font-weight: bold;
    cursor: pointer;
}

.div-icons-nav-bar {
    margin: 1.3% 0px 0px -1.23%;
    width: 9vw;
    /*Div com os icones a direita da barra*/
    height: 2vw;
}

.icon-nav-bar {
    height: 1.5vw;
    margin: 0px 6% 0px 0px;
    /*Para configurar os icones em si, distancia tamanho etc... */
    cursor: pointer;
}

.a-nav-bar-titulo:hover {
    color: rgb(112, 112, 112);
    /* Para deixar o <a> "Moda-conecta" <a> cinza, quando o mouse estiver sobre ele*/
}

.a-nav-bar:hover {
    color: rgb(112, 112, 112);
    /* Para deixar os  redirecionamentos <a> cinza, quando o mouse estiver sobre eles*/
}

/* fim da barra */

/* Sacola */

.icon-caminho {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly; /* Espaçamento uniforme entre os elementos */
    margin: 20px;
}

.icon {
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna */
    align-items: center; /* Centraliza os itens na vertical */
    gap: 5px; /* Espaçamento entre os elementos */
}

.icon img {
    width: 48px;
    height: 48px;
}

.loader {
    width: 20px;
    height: 20px;
    /* Adicione estilos adicionais conforme necessário */
}

.loader {
    display: block;
    --height-of-loader: 4px;
    --loader-color: #0071e2;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
}

.loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}

.p1 {
    display: flex;
    align-items: center;
    background-color: darkgrey;
    justify-content: space-evenly;
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.pp {
    flex-grow: 1;
    /* Permite que este elemento ocupe o espaço restante */
}

.p1 p {
    flex: 0.2;
    margin: 0 28px;
    /* Adiciona margens para espaçamento igual */
}

.p2 img {
    width: 230px;
    height: 290px;
    border-radius: 15px;
    border: #00000027 1px solid;
}

.valor {
    display: flex;
    flex-direction: column;
}

.valor h5 {
    text-decoration: line-through;
    color: #00000056;
    font-size: 15px;
    padding: 0%;
    margin: 0%;
    margin-bottom: 10px;
    /* Adiciona margem inferior ao "R$ 200" */
}

.valor p {
    margin-top: 0;
    text-align: center;
    /* Centraliza o texto */
}

.p2 {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#lixo {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 0;
}

.quantidade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
    height: 30px;
}

.quantidade img {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 0;
}

.lixo1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Fim da Sacola */
/* Entrega e Subtototal*/
.final {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 90px;
}

.entrega {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.entrega h2 {
    margin-bottom: 0px;
}

.entrega p {
    margin: 5px 0px;
}

.entrega h5 {
    margin: 0;
}

.calcular {
    width: 80px;
    height: 35px;
    border: none;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: rgb(181, 181, 181);
}

.finalizarCompra {
    width: 250px;
    height: 60px;
    border: none;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: rgb(181, 181, 181);
    margin-left: 5px;
}

.calcular:hover,
.finalizarCompra:hover {
    background-color: rgb(88, 255, 255);
    cursor: pointer;
}

.linha {
    border-bottom: 1px solid black;
    /* Cria uma linha sólida de 1px de espessura na cor preta */
    width: 50%;
    /* Define a largura da linha como 100% */
    margin-top: 10px;
    /* Espaçamento opcional acima da linha */
    margin-bottom: 10px;
    /* Espaçamento opcional abaixo da linha */
}

.valorFinal {
    display: grid;
    margin-left: auto;
}

.valorFinal a {
    text-align: center;
}

.cupom {
    display: flex;
    align-items: center;
}

.cupom p {
    margin-right: 10px;
    /* Adiciona um espaçamento entre o texto e o campo de entrada */
}

.cupom-input {
    border: none;
    /* Remove a borda padrão do campo de entrada */
    border-bottom: 1px solid black;
    /* Adiciona uma linha na parte inferior do campo de entrada */
    padding: 5px;
    /* Ajusta o preenchimento conforme necessário */
    outline: 0;
    background: transparent;
    margin-right: 10px;
    /* Espaçamento entre o campo de entrada e o botão */
}

.cupom-container {
    display: flex;
    align-items: center;
}

.subTotal {
    display: grid;
    grid-template-rows: auto auto auto;
    /* Cria 3 linhas automáticas */
    grid-template-columns: auto auto;
    /* Cria 2 colunas automáticas */
    justify-content: space-between;
}

/*Fim da Entrega e Subtotal */
footer {
    display: flex;
}

footer img {
    width: 350px;
    height: 50px;
}